.rotateX, .rotateY, .rotateZ{
  width: 300px;
  height: 150px;
  background-color: rgb(72, 175, 248);
  position: relative;
  margin-bottom: 2em;
}


.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rotateX:hover{
  -webkit-transform: rotateX(180deg); /* Safari */
  transform: rotateX(180deg);
}

.rotateY:hover{
  -webkit-transform: rotateY(180deg); /* Safari */
  transform: rotateY(180deg);
}

.rotateZ:hover{
  -webkit-transform: rotateZ(90deg); /* Safari */
  transform: rotateZ(90deg);
}